<a href="https://colab.research.google.com/github/Carla-if/POO/blob/main/Unidad1/Introducci%C3%B3n_a_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image](https://github.com/JoseGabriel-ITD/Probabilidad-y-Estadistica/blob/main/Cintilla2004.png?raw=true)

# **Programación Orientada a Objetos**


## **Unidad I.   Introducción a la Programación Orientada a Objetos**

### Docente: José Gabriel Rodríguez Rivas

### Alumno: Carla Iberia Carrillo Ferrer

# USO DE INPUT

In [ ]:
variable = input("Escribe tu nombre: ")
print("Tu nombre es: ", variable )

Escribe tu nombre: jorge
Tu nombre es:  jorge

In [ ]:
nom = input("¿Me puedes dar tu nombre por favor? ")
apellido = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es: " + nom + " " + apellido + ".")
print("\nTu nombre es: ", nom, apellido, ".")

¿Me puedes dar tu nombre por favor?jorge
¿Me puedes dar tu apellido por favor?hernandez
Gracias.

Tu nombre es: jorge hernandez.

Tu nombre es:  jorge hernandez .

In [ ]:
# Marca error porque se debe convertir el tipo de dato.
x = input("Dame un numero para multiplicar ")
z = x * 5
print(z)

Dame un numero para multiplicar2
22222

In [ ]:
x = int(input("Dame un numero para multiplicar: "))
z = x * 5
print(z)

Dame un numero para multiplicar: 6
30

In [ ]:
cateto_a = float(input("Inserta la longitud del primmer cateto: "))
cateto_b = float(input("Inserta la longitud del segundo cateto: "))
hipo = (cateto_a**2 + cateto_b**2)**.5
print("La longitud de la hipotenusa es: ", hipo )

Inserta la longitud del primmer cateto: 10
Inserta la longitud del segundo cateto: 5
La longitud de la hipotenusa es:  11.180339887498949

USO DEL IF

In [ ]:
a = 3000
b = 12500
if b > a:
  print("b es mayor que a")
else:
  print("a es mayor que b")

  print("Fin del if")

b es mayor que a

In [ ]:
a = 30000
b = 12500
if b > a:
  print("b es mayor que a")
  print(b, "es mayor que", a)
else:
  print("a es mayor que b")
  print(a, "es mayor que", b)

a es mayor que b
30000 es mayor que 12500

In [ ]:
a = 3000
b = 3000
if b > a:
  print("b es mayor que a")
  print("b vale=>", b)
elif a==b:
  print("a es igual que b")
  print("ay b valen =>", a)
else:
  print("a es mayor que b")
  print("a y b valen =>", a)
print("Fin del if")

a es igual que b
ay b valen => 3000
Fin del if

In [ ]:
# if y if... else en version corta o simplificada
# del lado izquierdo es cunado es verdadera la condicion

x = 50
y = 60

print("x es mayor que y") if (x > y) else print("y es mayor que x")

y es mayor que x

CICLOS O BUCLES

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1
print("fuera del while")

1
2
3
4
5
6
7
8
9
10
fuera del while

In [ ]:
BREAK

In [ ]:
i = 1
while i <= 1000:
  print(i)
  if i == 10:
    print("Entra al if")
    break
  i += 1
print("fuera del while")

1
2
3
4
5
6
7
8
9
10
Entra al if
fuera del while

In [ ]:
while(True):
  print(""" Selecciona una opcion
  1) Opcion 1
  2) Opcion 2
  3) Salir """)
  opcion = input("¿Cual es la opcion que deseas?: ")
  if opcion == "1":
    print("Seleccionaste la opcion 1 \n")
  elif opcion == "2":
    print("Seleccionaste la opcion 2\n")
  elif opcion == "3":
    print("Seleccionaste la Opcion Salir")
    break
  else:
    print("Opcion desconocida, vuelve a intentarlo")
  print("Fuera del ciclo")

 Selecciona una opcion
  1) Opcion 1
  2) Opcion 2
  3) Salir
¿Cual es la opcion que deseas?: 6
Opcion desconocida, vuelve a intentarlo
Fuera del ciclo
 Selecciona una opcion
  1) Opcion 1
  2) Opcion 2
  3) Salir
¿Cual es la opcion que deseas?: 3
Seleccionaste la Opcion Salir

Ciclo For

In [ ]:
# Si no se especifica un rango inicial por default empieza en 0
# cuando se establece el limite o rango final siempre sera ese valor menos 1
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
for z in range(2,5):
  print(z)

2
3
4

In [ ]:
# tercer parametro para el incremento
for z in range(1, 25, 2):
  print(z)

1
3
5
7
9
11
13
15
17
19
21
23

Break, continue y else

In [ ]:
print("La instruccion break")
variablez = True # variable de tipotipoi booleana
for i in range(1,6):
  print("Esto es un print dentro del for")
  if variablez:
    print("Entro al if")
    break
print("Fuera del for")

# continue- ejemplo
print("\nLa instruccion continue:")
for i in range(1, 6):
  if i==3:
    continue
    print("Dentro del bucle.", i)
print("Fuera del bucle")

La instruccion break
Esto es un print dentro del for
Entro al if
Fuera del for

La instruccion continue:
Fuera del bucle

In [ ]:
frutas = ["platano", "Naranja", "Manzana" ]
for x in frutas:
  print(x)
  if x == " naranja":
     break

platano
Naranja
Manzana

In [ ]:
n = 0
while n != 3:
  print(n)
  n += 1
else:
  print(n, "else")
print() # Para generar una linea en blanco
for i in range(0, 3):
    print(i)
else:
  print(i, "else:")

0
1
2
3 else

0
1
2
2 else:

Funciones

In [ ]:
def funcion_saludar():
  print("Hola mundo desde mi funcion")

In [ ]:
funcion_saludar()

Hola mundo desde mi funcion

In [ ]:
def tablas_multiplicar(x):
  for z in range(1, 11):
    print(x, "por", z, "=", x * z)
  print("\nfin de la funcion")

In [ ]:
tablas_multiplicar(2)

2 por 1 = 2
2 por 2 = 4
2 por 3 = 6
2 por 4 = 8
2 por 5 = 10
2 por 6 = 12
2 por 7 = 14
2 por 8 = 16
2 por 9 = 18
2 por 10 = 20

fin de la funcion

In [ ]:
def presentar (nombre, apellido, edad):
  print("Hola, mi nombre es", nombre, apellido," y mi edad es", edad)

presentar ("luke", "Skywalker", 40)
presentar("Clark", "Kent", 35 )
presentar("Juan", 35, "Penas")

Hola, mi nombre es luke Skywalker  y mi edad es 40
Hola, mi nombre es Clark Kent  y mi edad es 35
Hola, mi nombre es Juan 35  y mi edad es Penas

In [ ]:
def presentar(nombre, apellido = "Rodriguez"):
  print("Hola, mi nombre es", nombre, apellido)

presentar("Juan", "Salazar")
presentar("Juan")

Hola, mi nombre es Juan Salazar
Hola, mi nombre es Juan Rodriguez

In [ ]:
 def presentar(nombre, apellido):
  print("Hola, mi nombre es", nombre, apellido)

presentar(nombre = "James", apellido = "Bond")
presentar(apellido = "Skywalker", nombre = "Luke")

Hola, mi nombre es James Bond
Hola, mi nombre es Luke Skywalker

INSTRUCCION RETURN

In [ ]:
def CalcularDoble(qaz):
  qaz = qaz * 2
  return qaz

In [ ]:
# Asignar el resultado de la division a una variable
Valor_al_doble = CalcularDoble(5)
print(Valor_al_doble)

10

In [ ]:
# la variable no existe, solo existe dentro de la funcion

def miFuncion():
  variableX = 123

miFuncion()
print(variableX)

NameError: name 'variableX' is not defined

In [ ]:
def miFuncion():
  variable = 2
  print("¿Valor de la variable?", variable)

variable = 1
print("Valor de la variable", variable)
miFuncion()
print("Valor de la variable", variable)

Valor de la variable 1
¿Valor de la variable? 2
Valor de la variable 1

In [ ]:
def miFuncion():
  global variable
  variable = 2
  print("¿Valor de la variable?")

variable = 1
print("Valor de la variable", variable)
miFuncion()
print("Valor de la variable", variable)

Valor de la variable 1
¿Valor de la variable?
Valor de la variable 2